@import url("https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins:ital,wght@0,400;1,500&family=Raleway&display=swap");

/* #FF5C8D #FDEFF4 #FFC0D3 #FF5C8D */

* {
  margin: 0;
  padding: 0;
}
/* ---------- CSS FOR NAVBAR ---------- */

nav {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 10vh;
  background-color: #ff5c8d;

  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  background-color: none;
  width: 35%;

  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
nav li {
  display: inline;
  background-color: none;
  width: 150px;

  text-align: center;
}

nav li a {
  text-decoration: none;
  color: #f7f7f7;
  font-family: "DM Sans", sans-serif;
  transition: 0.15s ease-in;
  font-size: 0.8rem;
  margin-bottom: 2px;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}
nav li a:hover {
  font-size: 0.9rem;
  color: #fff5f5;
  border-bottom: 2px solid rgb(255, 255, 255);
}
.logo {
  padding: 20px;
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
  font-weight: 300;
}

/* ---------- CSS FOR INTRO PAGE ---------- */

.intro-page {
  height: 100vh;
  background: #fdeff4;
}

.row {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 0;
}
.col-1 {
  flex-basis: 40%;
  position: relative;
  margin-left: 50px;
}

.col-1 h2 {
  font-size: 54px;
  color: #707070;
  font-weight: 100;
  margin: 20px 0 10px;
}
.col-1 p {
  font-size: 16px;
  color: #b7b7b7;
  font-weight: 100;
}
.col-1 h4 {
  margin: 30px 0;
  font-size: 20px;
}

button {
  width: 140px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background: linear-gradient(to right, #fb5283, #f33527);
  border-radius: 6px;
  cursor: pointer;
  transition: width 0.5s;
}

button img {
  width: 30px;
  display: none;
}

button:hover img {
  display: block;
}
button:hover {
  width: 160px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.col-1::after {
  content: "";
  width: 10px;
  height: 100%;
  background: linear-gradient(#ff469f, #ff6062);
  position: absolute;
  left: -40px;
  top: 8px;
}
.col-2 {
  position: relative;
  flex-basis: 60%;
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: none;
}

.col-2 img {
  width: 600px;
  height: 600px;
}

@media only screen and (max-width: 700px) {
  .row {
    flex-direction: column-reverse;
    margin: 180px 0;
  }
  .col-2 {
    flex-basis: 100%;
    margin-bottom: 50px;
  }

  .color-box {
    transform: translate(75px);
  }
  .col-1 {
    flex-basis: 100%;
  }
  .col-1 h2 {
    font-size: 35px;
  }
  .col-1 h3 {
    font-size: 15px;
  }

  .col-2 img {
    width: 400px;
    height: 400px;
  }
}
